:root{
    --bg--image: url(../images/background/фон_гео_день.jpg);
    --bg-color: rgb(253, 193, 90);
    --bg-color-orange: rgb(240, 166, 37);
    --bg-color-purple: rgb(253, 193, 90);
    --bg-color-yellowgreen: rgba(255, 255, 255, 0.8);
    --bg-color-lightpink: rgb(253, 193, 90);
    --bg-color-button: rgb(240, 166, 37);
    .menu a{color: rgb(0, 0, 0);}
    .basement a{color: rgb(0, 0, 0);}
}
[dark] {
    --bg--image: url(../images/background/фон_гео_ночь.png);
    --bg-color: rgb(36, 21, 5);
    --bg-color-orange: rgb(36, 21, 5);
    --bg-color-purple: rgb(66, 38, 9);
    --bg-color-yellowgreen: rgba(36, 21, 5, 0.8);
    --bg-color-lightpink: rgb(36, 21, 5);
    --bg-color-button: rgb(36, 21, 5);
    .menu a{color: rgb(253, 169, 80);}
    .basement a{color: rgb(253, 169, 80);}
    p, ul, li{color: #ffffff;}
    h1, h2, h3, h4{color: rgb(253, 169, 80);}
}