:root {
    --font-family-Lusi: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
[data-theme="light"]{
    --bg-color: rgba(101, 88, 64);
    --bg-color-orange: rgba(101, 88, 64);
    --bg-color-lightpink: rgba(101, 88, 64, 0.8);
    --bg-color-yellowgreen: rgba(231, 204, 180);
    --bg-color-purple: rgba(114, 103, 83, 1);
    a{color: rgb(238, 171, 116);}
}
[data-theme="dark"] {
    --bg-color: rgb(33, 21, 67);
    --bg-color-orange: rgb(33, 21, 67);
    --bg-color-purple: rgb(43, 29, 80, 0.5);
    --bg-color-lightpink: rgba(43, 29, 80, 0.5);
    --bg-color-yellowgreen: rgb(63, 49, 106);
    a{color: #deff73;}
    p, ul, li{color: #eef9c5;}
    h1, h2, h3, h4{color: #fbff88;}
}

@media (width >= 1300px){
    body{
        /*background-color: var(--bg-color);*/
        background-image: url(../images/фон.jpg);
        background-size: 100%;
        /*background-repeat: no-repeat;*/
    }
    .container{
        
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    
    
    .picture{
        text-align: center;
    }
    
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 20px 10px 20px;
    }
    h1{
        text-align: center;
    }
    h2, h3{
        margin-left: 30px;
    }
    
    
    .logo{
        background-color: var(--bg-color-orange);
        height: 80px;
        position: fixed;
        width: 23%;
        position: fixed;
        margin-top: -0.6%;
        margin-left: -0.7%;

    }
    .menu {
        background-color: var(--bg-color-purple);
        height: 80px;
        width: 79%;
        position: fixed;
        margin-top: -0.6%;
        margin-left: 22%;
        margin-right: 1%;
    }

    .content {
        background-color: var(--bg-color-yellowgreen);
        /*height: 550px;*/
        margin-top: 71px;
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .basement {
        grid-column-start: 1;
        grid-column-end: 13;
        background-color: var(--bg-color-lightpink);
        margin-bottom: -7px;
        margin-left: -8px;
        margin-right: -8px;
        /*height: 300px;*/
    }

    
}




@media (width < 1300px) and (width >= 960px){
    body{
        background-color: var(--bg-color);
    }
    .container{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .log{
        float:left;
        margin: 7px 7px 7px 0;
    }
    img{
        float:none;
        margin: 10px 10px 10px 10px;
    }
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 10px 10px 10px;
    }
    .logo{
        background-color: var(--bg-color-orange);
        height: 80px;
        position: fixed;
        width: 30%;
        position: fixed;
        margin-top: -0.8%;
        margin-left: -0.5%;

    }
    .menu {
        background-color: var(--bg-color-purple);
        height: 80px;
        width: 70%;
        position: fixed;
        margin-top: -0.8%;
        margin-left: 29%;
        margin-right: 1%;
    }
    
    .content {
        margin-top: 71px;
        background-color: var(--bg-color-yellowgreen);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .basement {
        background-color: var(--bg-color-lightpink);
        /*height: 80px;*/
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}

@media (width < 960px){
    body{
        background-color: var(--bg-color);
    }
    .container{
        
        display: grid;
        grid-template-columns: 1fr;
    }
    .log{
        float:left;
        margin: 7px 7px 7px 0;
    }
    img{
        float:none;
        margin: 10px 10px 10px 10px;
    }
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 10px 10px 10px;
    }
    .menu {
        background-color: var(--bg-color-purple);
        min-height: 80px;
        
    }
    .logo {
        background-color: var(--bg-color-orange);
        min-height: 80px;
        
    }
    .basement {
        background-color: var(--bg-color-lightpink);
    }
    .content {
        background-color: var(--bg-color-yellowgreen);
    }
    
}
