.content{
    height: 600px;
}
.quiz{
    margin: 0 auto;
    width: 600px;
}
.quiz-questions, .quiz-indicator, .quiz-results{
    margin-bottom: 20px;
}
.quiz-results{
    display: none;
}
/*.quiz-questions-item{
}*/
.quiz-questions-item_question, .quiz-results-item_question{
    font-size: 120%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.quiz-questions-item_answers, .quiz-results-item_answers{
    margin: 0;
    padding: 0;
    list-style: none;
}
.quiz-results-item_question{
    margin-left: -200px;
}

.quiz-questions-item, .quiz-questions-item{
    margin-bottom: 20px;
}

.quiz-indicator{
    margin-bottom: 20px;
    text-align: center;
}

.btn-next, .btn-restart{
    height: 40px;
        width: 150px;
        margin: 0px 10px 15px 10px;
        border-color: var(--bg-color-orange);
        border-radius: 10px;
        background-color: var(--bg-color-purple);
        box-shadow: 0 0 10px var(--bg-color-purple);
}
.btn-restart{
    float: inline-end;
}
/*.btn-next{
}*/
.btn-restart{
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btnNext--hidden{
    display: none;
}
.results--visible,
.btnRestart--visible{
    display: block;
}

.answer--invalid{
    color: var(--bg-color-answer-v);
}
.answer--valid{
    color: var(--bg-color-answer);
}
