:root {
    --font-family-Lusi: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
/*#region hhh*/
/*#endregion*/


@media (width >= 1300px){
    
    #tema{/*кнопка переключения темы*/
        background-color: var(--bg-color-button);
        float: left;
        margin: 10px 0px 0px 30px;
        width: 55px;
        height: 55px;
        border: 10px;
        border-radius: 27px;
        box-shadow: 0 0 10px var(--bg-color-text);
        background-image: var(--bg-color-icon);
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
       }

    /*#region картинки на разбор*/
    .sign{/*расположение картинок регионов и персонажей*/
        float: inline-start;
        text-align: center;
    }
    .sign3{/*расположение картинок персов на личных страницах*/
        float: inline-start;
        text-align: left;
    }
    .sign3 p img{
        float: inline-start;
        text-align: left;
    }
    .sign2{/*расположение картинок персонажей*/
        float: inline-start;
        text-align: center;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .chetireStar, .fiveStar{/*расположение картинок персонажей*/
        float: left;
    }
    img{
        float:none;
        margin: 10px 10px 10px 10px;
    }
    /*#endregion*/
    

    /*#region текст в дивах + картинки*/
    .picture{
        text-align: center;/*размещение картинок в <p> с классом .picture в центре страницы(преимущ. листающиеся слайды)*/
    }
    .logo h1{
        margin-top: 5%;
    }
    .menu p{
        margin-top: 2%;
    }
    .basement p{
        margin-top: 0.5%;
    }
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 20px 10px 20px;
        text-align: justify;
    }
    h1{
        text-align: center;
    }
    h2, h3{
        margin-left: 50px;
    }
    body p{
        margin: 0px 100px 0px 100px;
    }
    li, ul{
        margin: 0px 20px 0px 20px;
    }
    /*#endregion*/
    
    
    /*#region кнопки для тестов*/
    .test button{/*дизайн кнопок для тестов*/
        height: 40px;
        width: 150px;
        margin: 15px 10px 0px 10px;
        border-color: var(--bg-color-orange);
        border-radius: 10px;
        background-color: var(--bg-color-purple);
        box-shadow: 0 0 10px var(--bg-color-purple);
        cursor: pointer;
        color: var(--bg-color-p);
    }
    .test img{
        height: 300px;
        margin: 30px 0px 0px 0px;
    }
    .test figure{
        margin: 30px 60px 30px 60px;
        /*margin-left: 60px;
        margin-right: 60px;*/
        text-align: center;
        box-shadow: 0 0 10px var(--bg-color-purple);
        height: 450px;
        width: 500px;
        background-color: var(--bg-color-stihia);
    }
    .picture-test{
        float: inline-start;
    }
    .test h3, p{
        text-align: center;
        margin: 0;
    }
    /*#endregion*/
    
    .basement a, .menu a, h1, h2, h3, h4{
        color: var(--bg-color-text);
    }
    p, ul, li{
        color: var(--bg-color-p);
    }
}




@media (width < 1300px) and (width >= 960px){
    #tema{/*кнопка переключения темы*/
        background-color: var(--bg-color-button);
        float: left;
        margin: 15px 0px 0px 20px;
        width: 50px;
        height: 50px;
        border: 10px;
        border-radius: 25px;
        box-shadow: 0 0 10px var(--bg-color-text);
        background-image: var(--bg-color-icon);
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
       }
    
    /*#region текст в дивах*/
    .sign{/*расположение картинок регионов и персонажей*/
        float: inline-start;
        text-align: center;
        margin-left: 5%;
    }
    .sign h2{
        text-align: center;
    }
    .logo h1{
        margin-top: 5%;
    }
    .basement p{
        margin-top: 0.5%;
    }
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 20px 10px 20px;
        text-align: justify;
    }
    h1{
        text-align: center;
    }
    h2, h3{
        margin-left: 50px;
    }
    body p{
        margin: 0px 100px 0px 100px;
    }
    li, ul{
        margin: 0px 30px 0px 30px;
    }
    /*#endregion*/
    /*#region кнопки для тестов*/
    .picture-test button{/*дизайн кнопок для тестов*/
        height: 40px;
        width: 150px;
        margin: 0px 10px 15px 10px;
        border-color: var(--bg-color-orange);
        border-radius: 10px;
        background-color: var(--bg-color-purple);
        box-shadow: 0 0 10px var(--bg-color-purple);
    }
    .test p, h3{
        text-align: center;
        margin: 0;
    }
    .test img{
        height: 300px;
        margin: 30px 0px 0px 0px;
    }
    .test figure{
        margin-left: 10%;
        margin-right: 10%;
        /*margin-left: 60px;
        margin-right: 60px;*/
        text-align: center;
        box-shadow: 0 0 10px var(--bg-color-purple);
        height: auto;
        width: auto;
        margin-bottom: 20px;
        background-color: var(--bg-color-stihia);
    }
    /*#endregion*/
}

@media (width < 960px){
    #tema{/*кнопка переключения темы*/
        background-color: var(--bg-color-button);
        margin: 17px 0px 0px 85%;
        width: 55px;
        height: 55px;
        border: 10px;
        border-radius: 27px;
        box-shadow: 0 0 10px var(--bg-color-text);
        background-image: var(--bg-color-icon);
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
       }
    .sign{
        text-align: center;
    }
    img{
        float:none;
        margin: 10px 10px 10px 10px;
        
    }
    .logo h1{
        text-align: center;
        margin-top: -6%;
        margin-left: -2%;
    }
    h1, h2, h3, p, ul, li{
        font-family: var(--font-family-Lusi);
        margin: 10px 20px 10px 20px;
    }
    h1{
        text-align: center;
    }
    h2, h3{
        margin-left: 30px;
    }
    /*#region кнопки для тестов*/
    .picture-test button{/*дизайн кнопок для тестов*/
        height: 40px;
        width: 150px;
        margin: 0px 10px 15px 10px;
        border-color: var(--bg-color-orange);
        border-radius: 10px;
        background-color: var(--bg-color-purple);
        box-shadow: 0 0 10px var(--bg-color-purple);
    }
    .test img{
        height: 300px;
        margin: 30px 0px 0px 0px;
    }
    .test figure{
        margin: 10px 20px 10px 20px;
        /*margin-left: 60px;
        margin-right: 60px;*/
        text-align: center;
        box-shadow: 0 0 10px var(--bg-color-purple);
        height: auto;
        width: auto;
        margin-bottom: 20px;
        background-color: var(--bg-color-stihia);
    }
    .test p, h3{
        text-align: center;
        margin: 0;
    }
    /*#endregion*/
}
