:root{
    --bg--image: url(../images/background/фон_анемо_день.jpg);
    --bg-color: rgb(21, 231, 206);
    --bg-color-orange: rgb(103, 217, 200);
    --bg-color-purple: rgb(144, 247, 231);
    --bg-color-yellowgreen: rgba(255, 255, 255, 0.8);
    --bg-color-lightpink: rgb(103, 217, 200);
    --bg-color-button: rgb(103, 217, 200);
    --bg-color-text: #000000;
    --bg-color-icon: url(../images/Logo_light.png);
    --bg-color-p:#000000;
}
[dark] {
    --bg--image: url(../images/background/фон_анемо_ночь.jpg);
    --bg-color: rgb(5, 18, 14);
    --bg-color-orange: rgb(5, 18, 14);
    --bg-color-purple: rgb(11, 34, 27);
    --bg-color-yellowgreen: rgba(5, 18, 14, 0.9);
    --bg-color-lightpink: rgb(5, 18, 14);
    --bg-color-button: rgb(5, 18, 14);
    --bg-color-text: rgb(149, 255, 225);
    --bg-color-icon: url(../images/Logo_dark.png);
    --bg-color-p:#ffffff;
}