:root{
    --bg--image: url(../images/background/фон_пиро_день.jpg);
    --bg-color: rgb(171, 61, 59);
    --bg-color-orange: rgb(171, 61, 59);
    --bg-color-purple: rgb(227, 113, 111);
    --bg-color-yellowgreen: rgba(255, 255, 255, 0.8);
    --bg-color-lightpink: rgb(171, 61, 59);
    --bg-color-button: rgb(171, 61, 59);
    --bg-color-text: rgb(0, 0, 0);
    --bg-color-icon: url(../images/Logo_light.png);
    --bg-color-p:#000000;
}
[dark] {
    --bg--image: url(../images/background/фон_пиро_ночь.jpg);
    --bg-color: rgb(22, 6, 0);
    --bg-color-orange: rgb(22, 6, 0);
    --bg-color-purple: rgb(41, 11, 0);
    --bg-color-yellowgreen: rgba(22, 6, 0, 0.9);
    --bg-color-lightpink: rgb(22, 6, 0);
    --bg-color-button: rgb(22, 6, 0);
    --bg-color-text: rgb(245, 219, 148);
    --bg-color-icon: url(../images/Logo_dark.png);
    --bg-color-p:#ffffff;
}